@import "animate/slideUpIn.less";
@import "animate/slideUpOut.less";
@import "animate/slideDownIn.less";
@import "animate/slideDownOut.less";

.wf-slide-up-in {
    -moz-animation: slideUpIn .2s 1 cubic-bezier(0.23, 1, 0.32, 1);
    -o-animation: slideUpIn .2s 1 cubic-bezier(0.23, 1, 0.32, 1);
    -webkit-animation: slideUpIn .2s 1 cubic-bezier(0.23, 1, 0.32, 1);
    animation: slideUpIn .2s 1 cubic-bezier(0.23, 1, 0.32, 1);
}

.wf-slide-up-out {
    animation: slideUpOut .2s 1 cubic-bezier(0.755, 0.05, 0.855, 0.06);
}
