// ui-prefix
@ui: wf;

//grid system
//grid系统总列数
@grid-columns              : 24;
//两列之间的间距
@grid-gutter-width         : 0;

// Color
@color                     : #fff;   
@color-text-deep           : #333;
@color-text-nomal          : #666;
@color-text-light          : #999;
   
@color-primary             : #6abbef;
@color-normal              : #88cbf6;
     
@color-info                : @color-primary;                     
@color-success             : #38be70;
@color-error               : #f05e4f;
@color-warning             : #f0bb18;
@color-disabled            : #dcdcdc;
@color-ghost               : #e6e6e6;

@color-border-deep         : #ddd;                     
@color-border-nomal        : #e1e1e1;
                           
@color-background          : #fff;
@color-background-normal   : #f7f7f7;
@color-background-deep     : #ccc;

// font-size
@font-size-nomal           : 12px;
@font-size-nomal           : 12px;

// animate
@animate-time-fast         : 0.1s;
@animate-time-normal       : 0.3s;
@animate-time-slow         : 0.5s;

 