// ui-prefix
@ui: wf;

// Color
@color                     : #fff;   
@color-text-deep           : #333;
@color-text-nomal          : #666;
@color-text-light          : #999;
   
@color-primary             : #6abbef;
@color-normal              : #88cbf6;
                           
@color-success             : #87d068;
@color-error               : #f50;
@color-warning             : #fa0;
@color-disabled            : #dcdcdc;
@color-ghost               : #e6e6e6;
                        
@color-border              : #e1e1e1;
                           
@color-background          : #fff;
@color-background-normal   : #f7f7f7;

// animate
@animate-time-fast         :0.1s;
@animate-time-normal       :0.3s;
@animate-time-slow         :0.5s;
