// ui-prefix
@ui: wf;


// Color
@color-text-deep        : #333;
@color-text-nomal       : #666;
@color-text-light       : #999;
                          
@color-primary          : #6abbef;
@color-normal           : #88cbf6;

@color-success          : #87d068;
@color-error            : #f50;
@color-warning          : #fa0;


@color1:#f7f7f7;
@color2:#e1e1e1;
@color3:#cccccc;
@color4: #666666;

@color5:#dcdcdc;
@color6:#e6e6e6;
@color7:#f0f8fd;
