@import "../../core/less/import.less";

.hover() {
    & {
        .wf-checkbox-inner {
            border-color: @color-primary;
        }
    }
}

.disabled() {
    .wf-checkbox-inner {
        background-color: #f7f7f7;
        border-color: #dcdcdc;
        color: #dcdcdc;
    }
}

.wf-checkbox {
    display: inline-block;
    cursor: pointer;
    position: relative;
    .clearfix;

    .wf-checkbox-inner {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: #fff;
        color: #fff;
        border-radius: 3px;
        border: 1px solid #dcdcdc;
        margin-right: 8px;
        float: left;
        -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;

        .wf-icon {
            margin: -1px 0 0 -1px;
        }
    }

    .wf-checkbox-input {
        display: none;
    }

    .wf-checkbox-text {
        float: left;
        color: @font-color-nomal;
        line-height: 16px;
    }

    &:hover {
        .hover;
    }
}

.wf-checkbox-hover {
    .hover;
}

.wf-checkbox-checked {
    .wf-checkbox-inner {
        background-color: @color-primary;
        border-color: transparent;
    }
}

.wf-checkbox-disabled {
    .disabled;

    &:hover {
        .disabled;
    }
}
