@import "../../core/less/import.less";
@checkbox-pre: ~"@{ui}-checkbox";

.hover() {
    & {
        .@{checkbox-pre}-inner {
            border-color: @color-primary;
        }
    }
}

.disabled() {
    .@{checkbox-pre}-inner {
        background-color: @color-background-normal;
        border-color: @color-disabled;
        color: @color-disabled;
    }
}

.@{checkbox-pre} {
    display: inline-block;
    cursor: pointer;
    position: relative;
    .clearfix;

    .@{checkbox-pre}-inner {
        display: inline-block;
        .square(14px);
        background-color: @color-background;
        color: @color;
        border-radius: 3px;
        border: 1px solid @color-border;
        margin-right: 8px;
        float: left;

        .@{ui}-icon {
            position: absolute;
            top: 0;
            left: 0;
            .transform(scale(0));
            .transition(all 0.15s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s);
        }
    }

    .@{checkbox-pre}-input {
        display: none;
    }

    .@{checkbox-pre}-text {
        float: left;
        color: @color-text-nomal;
        line-height: 16px;
    }

    &:hover {
        .hover;
    }

    &[data-target] {
        .@{checkbox-pre}-inner {
            position: relative;

            .@{ui}-icon {
                .center-middle(10px,10px);

                &:before {
                    display: none;
                }
            }
        }
    }
}

.@{checkbox-pre}-hover {
    .hover;
}

.@{checkbox-pre}-checked {
    .@{checkbox-pre}-inner {
        background-color: @color-primary;
        border-color: transparent;

        .@{ui}-icon {
            .transform(scale(1));
        }
    }

    &[data-target] {
        .@{checkbox-pre}-inner {
            background-color: @color-background;
            border-color: @color-primary;
            color: @color-primary;

            .@{ui}-icon {
                background-color: @color-primary;

                &:before {
                    display: none;
                }
            }
        }
    }
}

.@{checkbox-pre}-disabled {
    cursor: default;
    .disabled;

    &:hover {
        .disabled;
    }
}

/*lt ie9*/
.ltie9 {
    .@{checkbox-pre} {
        .@{checkbox-pre}-inner {
            .@{ui}-icon {
                display: none;
            }
        }
    }

    .@{checkbox-pre}-checked {
        .@{checkbox-pre}-inner {
            .@{ui}-icon {
                display: inline-block;
            }
        }
    }
}
