@import "mixins.less";

.footer-wrapper {
    padding: 20px 0;
    width: 100%;
    background-color: #fff;

    .footer {
        width: @base-width;
        margin: 0 auto;
        text-align: center;
        font-size: 14px;
    }
}
