body{
    font-family: Helvetica,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    font-size: 12px;
    color: #333;
}
a{
    color:#2a6eb7;
    text-decoration:none;
}
@import "variables.less";
@import "mixins.less";
@import "header.less";
@import "footer.less";