@import "mixins.less";

.header {
    height: 80px;
    line-height: 80px;
    font-size: 16px;
    background-color: #fff;

    .wf-row {
        width: 92%;
        margin: 0 auto;

        .brand{
            font-size:20px;
            font-family: cursive;
        }
    }
}
