@import "mixins.less";

.header {
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    background-color:@base-color-bg;

    .wf-row {
        max-width: @base-width;
        margin: 0 auto;

        .brand{
            color:@base-color;
            font-size:20px;
            font-family: Impact;
        }
    }
}
