@import "../../core/less/import.less";

@color-primary-hover:#88cbf6;
@color-default:#f7f7f7;
@color-default-border:#e1e1e1;
@color-ghost-border:#e6e6e6;
@color-disabled:#ccc;

.hover {
    &:hover, &.wf-btn-hover {
        color: @color-primary;
        border-color: @color-primary;
        background-color: #fff;
        z-index: 1;
    }
}

//btn default
.wf-btn {
    display: inline-block;
    line-height: 1.5;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 15px;
    font-size: 12px;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: #666;
    background-color: @color-default;
    border: 1px solid @color-default-border;
    outline: none;
    .hover;
}

.wf-btn.disabled, .wf-btn.disabled:hover, button[disabled], button[disabled]:hover {
    cursor: default;
    background-color: @color-default;
    border-color: @color-default;
    color: @color-disabled;
}

.wf-btn-primary {
    background-color: @color-primary;
    color: #fff;
    border-color: @color-primary;

    &:hover, &.wf-btn-hover {
        color: #fff;
        border-color: @color-primary-hover;
        background-color: @color-primary-hover;
        z-index: 1;
    }
}

.wf-btn-ghost {
    background-color: #fff;
    border-color: @color-ghost-border;
    .hover;
}

.wf-btn-large {
    font-size: 14px;
    padding: 8px 23px;
}

.wf-btn-small {
    padding: 2px 8px;
}

.wf-btn-group {
    position: relative;
    display: inline-block;

    > .wf-btn:last-child:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        margin: 0 0 0 -1px;
    }

    > .wf-btn:first-child:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin: 0;
    }

    .wf-btn:not(:first-child):not(:last-child) {
        border-radius: 0;
        margin: 0 0 0 -1px;
    }

    .wf-btn-primary:first-child:not(:last-child) {
        border-right-color: @color-primary-hover;
    }

    .wf-btn-primary:last-child:not(:first-child), .wf-btn-group .wf-btn-primary + .wf-btn {
        border-left-color: @color-primary-hover;
    }
}
