body {
  /*font-family: Lato,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;*/
  font-size: 12px;
  color: #333;
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #333;
  /*&:hover {
        opacity: .8;
    }*/
}
.content-wrapper {
  position: relative;
}
.content-wrapper:after {
  width: 50%;
  height: 100%;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #f7f7f7;
}
.content {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 572px;
  background-color: transparent;
}
.content .doc-content {
  min-height: 1080px;
  background-color: #fff;
  padding-top: 40px;
  padding-left: 40px;
  padding-bottom: 80px;
}
.content .doc-content nav {
  position: fixed;
  top: 108px;
  left: 50%;
  margin-left: 600px;
}
.content .doc-content nav a {
  margin: 5px 0 5px 15px;
  color: #666;
  display: block;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.header {
  height: 70px;
  line-height: 70px;
  font-size: 16px;
  background-color: #353e43;
}
.header .wf-row {
  max-width: 1200px;
  margin: 0 auto;
}
.header .wf-row .brand {
  color: #6abbef;
  font-size: 22px;
  font-family: Impact;
  text-align: center;
  overflow: hidden;
}
.header .wf-row .brand .logo {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}
.footer {
  height: 100px;
  line-height: 100px;
  font-size: 16px;
  background-color: #353e43;
}
.footer .wf-row {
  max-width: 1200px;
  margin: 0 auto;
}
.footer .wf-row .brand {
  color: #999;
  font-size: 22px;
  font-family: Impact;
  text-align: center;
  overflow: hidden;
}
.footer .wf-row .brand .logo-footer {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}
.footer .wf-row .links {
  float: left;
  font-size: 12px;
  font-family: 'Microsoft YaHei';
}
.footer .wf-row .links a {
  display: inline-block;
  margin: 0 30px;
  color: #999;
}
.footer .wf-row .links a:hover {
  color: #6abbef;
}
.footer .wf-row .copyright {
  font-size: 12px;
  float: right;
  margin-right: 40px;
  color: #999;
}
.header .wf-menu-horizontal {
  font-size: 14px;
  border-bottom: none;
}
.header .wf-menu-horizontal .wf-menu-content {
  color: #fff;
  height: 70px;
  line-height: 70px;
  margin-top: -2px;
  padding-left: 28px;
  padding-right: 28px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  border-bottom: 0;
}
.doc-menu .wf-menu-vertical {
  padding: 22px 0;
}
.doc-menu .wf-menu-vertical > .wf-menu-item > .wf-menu-sub > .wf-menu-item > .wf-menu-content .en {
  color: #333;
}
.doc-menu .wf-menu-vertical a:hover {
  opacity: 1;
}
.doc-menu .wf-menu-vertical .wf-menu-item {
  font-size: 14px;
  border: none;
}
.doc-menu .wf-menu-vertical .wf-menu-item .wf-menu-content {
  border: none;
}
.doc-menu .wf-menu-vertical .wf-menu-item .wf-menu-content .en {
  color: #666;
}
.doc-menu .wf-menu-vertical .wf-menu-item .wf-menu-content .cn {
  color: #999;
}
.doc-menu .wf-menu-vertical .wf-menu-content .en {
  font-size: 14px;
  font-family: 'Arial';
  margin-right: 2px;
}
.doc-menu .wf-menu-vertical .wf-menu-content .cn {
  font-size: 12px;
  font-family: 'Microsoft YaHei';
}
.doc-menu .wf-menu-vertical .wf-menu-sub {
  font-size: 12px;
}
.doc-menu .wf-menu-vertical .wf-menu-sub .wf-menu-content .en,
.doc-menu .wf-menu-vertical .wf-menu-sub .wf-menu-content .cn {
  color: #999;
}
.doc-menu .wf-menu-vertical .wf-menu-items .wf-menu-item .wf-menu-content .en {
  color: #666;
}
.doc-menu .wf-menu-vertical .wf-menu-items .wf-menu-item .wf-menu-content .cn {
  color: #999;
}
.doc-menu .wf-menu-vertical .wf-menu-item.active {
  background-color: #fff;
}
.doc-menu .wf-menu-vertical .wf-menu-item.active .wf-menu-content .en,
.doc-menu .wf-menu-vertical .wf-menu-item.active .wf-menu-content .cn {
  color: #6abbef;
}
.wf-btn {
  margin-right: 8px;
}
.wf-btn .wf-icon {
  margin-top: -1px;
}
.wf-checkbox,
.wf-radio,
.wf-select {
  margin-right: 50px;
}
.wf-input-addon .wf-select {
  margin: 0;
}
.wf-select {
  vertical-align: middle;
}
.page .title {
  color: #333;
  font-size: 24px;
  line-height: 24px;
}
.page .title .wf-btn {
  float: right;
}
.page .desc {
  color: #666;
  background-color: #f7f7f7;
  padding: 20px;
  margin-top: 25px;
}
.page code {
  color: #656565;
  font-family: "Lucida Console", Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 12px;
  background-color: #f8f8f8;
  border: 1px solid #f0f0f0;
  padding: 1px 5px;
  margin: 0 5px;
  line-height: 1.5;
}
.page pre {
  display: none;
}
.page pre code {
  border: none;
}
.page pre code .hljs-tag {
  line-height: 22px;
}
.page .wf-btn .wf-icon {
  width: 16px;
  height: 16px;
  line-height: 1;
  vertical-align: middle;
  display: inline-block;
  -webkit-text-stroke-width: 0;
}
.page .section {
  margin-top: 40px;
}
.page .section .title {
  position: relative;
  overflow: hidden;
}
.page .section .title:before {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  position: absolute;
  left: 0;
  top: 12px;
  background-color: #e6e6e6;
  z-index: 0;
}
.page .section .title .text {
  position: relative;
  display: inline-block;
  padding-right: 10px;
  background-color: #fff;
}
.page .section .title:after {
  content: '';
  display: block;
  height: 100%;
  width: 62px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
  z-index: 0;
}
.page .section .title .wf-btn {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
.page .section .demo {
  margin-top: 25px;
}
.page .section .demo .wf-row {
  margin-bottom: 10px;
}
.page .section .demo .wf-row label {
  min-width: 80px;
  display: inline-block;
}
.page .section .demo .wf-input:first-child {
  margin-right: 100px;
}
.page .section .demo.wf-input-icon .wf-input {
  margin: 0;
}
.page .section .explain {
  margin-top: 25px;
  line-height: 22px;
}
.page .section-api {
  margin-top: 70px;
}
.page .section-api .title:before {
  display: none;
}
.page .section-api pre {
  display: block;
}
.page .section-api .ul-apis {
  padding-left: 16px;
}
.page .section-api .ul-apis li {
  list-style: circle;
  margin: 10px 0;
}
.page .section-api .ul-apis li code {
  margin-left: 0;
}
.page .section-api table {
  border-collapse: collapse;
  border-spacing: 0px;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 100%;
  margin: 16px 0;
}
.page .section-api table th {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
  background: #F7F7F7;
}
.page .section-api table td {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
}
.page .section-api table td:first-child {
  width: 20%;
}
.page .section-api table td:nth-child(3) {
  width: 20%;
}
.page .section-api table td:last-child {
  width: 15%;
}
.page .wf-btn-group {
  margin-right: 8px;
}
.page .wf-btn-group .icon-back {
  margin-right: .5em;
}
.page .wf-btn-group .icon-more {
  margin-left: .5em;
}
.page #input-size .wf-input {
  width: 200px;
  margin-right: 10px;
}
/*
This is an example of how to use the image sprite in your own CSS files
*/
.icon-doc {
	background-image: url('../img/icon-doc.sprite.png');
	background-repeat: no-repeat;
	display: inline-block;
}
.icon-doc.logo {
	width: 18px;
	height: 18px;
	background-position: -10px -10px;
}
.icon-doc.logo-footer {
	width: 18px;
	height: 18px;
	background-position: -10px -38px;
}