@import "../../core/less/import.less";

.hover() {
    & {
        .@{ui}-radio-inner {
            border-color: @primary-color;
        }
    }
}

.disabled() {
    .@{ui}-radio-inner {
        background-color: #f7f7f7;
        border-color: #dcdcdc;
        color: #dcdcdc;

        .@{ui}-icon {
            background-color: #dcdcdc;
        }
    }
}

.@{ui}-radio {
    display: inline-block;
    cursor: pointer;
    position: relative;
    .clearfix;

    .@{ui}-radio-inner {
        display: inline-block;
        width: 14px;
        height: 14px;
        background-color: #fff;
        color: #fff;
        border-radius: 50%;
        border: 1px solid #dcdcdc;
        margin-right: 8px;
        float: left;
        position: relative;

        .@{ui}-icon {
            .center-middle(8px,8px);
            border-radius: 50%;
            background-color: @primary-color;
            transform: scale(0);
            -webkit-transition: all 0.15s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
            transition: all 0.15s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        }
    }

    .@{ui}-radio-input {
        display: none;
    }

    .@{ui}-radio-text {
        float: left;
        color: @text-color-nomal;
        line-height: 16px;
    }

    &:hover {
        .hover;
    }
}

.@{ui}-radio-hover {
    .hover;
}

.@{ui}-radio-checked {
    .@{ui}-radio-inner {
        border-color: @primary-color;

        .@{ui}-icon {
            transform: scale(1);
        }
    }

    &[data-target] {
        .@{ui}-radio-inner {
            background-color: #fff;
            border-color: @primary-color;
            color: @primary-color;

            .@{ui}-icon {
                width: 10px;
                height: 10px;
                background-color: @primary-color;
                margin-left: 2px;
                overflow: hidden;

                &:before {
                    display: none;
                }
            }
        }
    }
}

.@{ui}-radio-disabled {
    cursor: default;
    .disabled;

    &:hover {
        .disabled;
    }
}

/*lt ie9*/
.ltie9 {
    .@{ui}-radio {
        .@{ui}-radio-inner {
            .@{ui}-icon {
                display: none;
            }
        }
    }

    .@{ui}-radio-checked {
        .@{ui}-radio-inner {
            .@{ui}-icon {
                display: inline-block;
            }
        }
    }
}
