@import "../../core/less/import.less";

@select-width: 160px;
@selection-padding-leftright-width: 10px;
@selection-width: @select-width - @selection-padding-leftright-width*2;
@option-padding-leftright-width: 18px;
@option-width: @select-width - @option-padding-leftright-width*2;

.wf-select {
    display: inline-block;
    position: relative;
    -webkit-transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    .clearfix;

    .wf-select-selection {
        display: inline-block;
        position: relative;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        padding: 0 @selection-padding-leftright-width;
        width: @selection-width;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        cursor: pointer;
        -webkit-transition: all 0.15s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        transition: all 0.15s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        .ut-clearfix;

        .wf-select-selection-value {
            display: inline-block;
            float: left;
            .overflow-hide(122px)
        }

        .wf-icon {
            float: right;
            font-size: 14px;
        }

        &:hover {
            border-color: @color-primary;
        }
    }

    .wf-select-input {
        display: none;
    }

    .wf-select-options {
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        z-index: 1050;
        position: absolute;
        overflow: hidden;
        font-size: 12px;
        outline: none;
        margin-bottom: 0;
        max-height: 250px;
        display: none;

        .wf-select-option {
            position: relative;
            display: block;
            width: @option-width;
            padding: 10px @option-padding-leftright-width;
            font-weight: normal;
            color: #666;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            -webkit-transition: background 0.3s ease;
            transition: background 0.3s ease;

            &:hover {
                background-color: #f0f8fd;
            }
        }

        .wf-select-option-selected {
            background-color: #f7f7f7;
        }
    }
}

.wf-select-large {
    .wf-select-selection {
        height: 38px;
        line-height: 38px;
    }
}

.wf-select-small {
    .wf-select-selection {
        height: 22px;
        line-height: 22px;
    }
}

.wf-select-hover {
    .wf-select-selection {
        border-color: @color-primary;
    }
}

.wf-select-disabled {

    .wf-select-selection {
        cursor: default;
        background-color: #f7f7f7;
        border-color: #dcdcdc;
        color: #dcdcdc;

        &:hover {
            border-color: #dcdcdc;
        }
    }
}

.wf-select-open {
    .wf-select-selection {
        border-color: @color-primary;
        box-shadow: 0 0 0 2px rgba(16, 142, 233, 0.2);
    }

    .wf-select-options {
        display: block;
    }
}


/*lt ie9*/
.ltie9 {
}
