@import "../../core/less/import.less";

.wf-select {
    display: inline-block;
    position: relative;
    -webkit-transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition: background 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    .clearfix;

    .wf-select-selection {
        display: inline-block;
        position: relative;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        padding: 0 10px;
        width: 138px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        cursor: pointer;
        -webkit-transition: all 0.15s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        transition: all 0.15s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
        .ut-clearfix;

        .wf-select-selection-value {
            display: inline-block;
            float: left;
            .overflow-hide(122px)
        }

        .wf-icon {
            float: right;
            font-size: 14px;
            margin-top: 8px;
        }

        &:hover {
            border-color: @color-primary;
        }
    }

    .wf-select-input {
        display: none;
    }

    .wf-select-options {
        background-color: #fff;
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        box-sizing: border-box;
        z-index: 1050;
        position: absolute;
        overflow: hidden;
        font-size: 12px;
        outline: none;
        margin-bottom: 0;
        padding-left: 0;
        max-height: 250px;
        display: none;

        .wf-select-option {
            position: relative;
            display: block;
            padding: 7px 16px;
            font-weight: normal;
            color: #666;
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;
            -webkit-transition: background 0.3s ease;
            transition: background 0.3s ease;
        }

        .wf-select-option-selected {
            background-color: #f7f7f7;
        }
    }
}

.wf-select-open {
    .wf-select-selection {
    }

    .wf-select-options {
        display: block;
    }
}


/*lt ie9*/
.ltie9 {
}
