@import "../../core/less/import.less";
@modal-pre: ~"@{ui}-modal";

.@{modal-pre} {


    &-mask {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: @color-background-deep;
        background-color: rgba(55, 55, 55, 0.6);
        height: 100%;
        z-index: 1000;
    }

    &-hidden {
        display: none;
    }

    &-content {
        /*transform-origin: -100px 90px;*/
        position: fixed;
        top: 100px;
        left: 50%;
        width: 380px;
        padding: 0 10px;
        margin-left: -380/2px;
        z-index: 1000;
        outline: 0;
        background-color: #fff;
        border: 0;
        border-radius: 4px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    }

    &-header {
        padding: 10px;
        border-bottom: 1px solid @color-border-normal;
        position: relative;

        .@{modal-pre}-title {
            font-weight: 700;
        }

        .@{ui}-icon {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;

            &:hover {
                font-weight: 700;
            }
        }
    }

    &-body {
        padding-top: 20px;
        line-height: 1.5;
    }

    &-footer {
        text-align: center;
        padding: 20px 0;

        .@{ui}-btn {
            min-width: 76px;
        }
    }

    &-message {
        .@{modal-pre}-header {
            border: none;
            text-align: center;
            padding-top: 20px;

            .@{ui}-icon {
                position: relative;
                font-size: 32px;
                cursor: default;
                top: auto;
                right: auto;

                &:hover {
                    font-weight: 400;
                }
            }
        }

        .@{modal-pre}-content {
            text-align: center;
        }

        .@{modal-pre}-footer {
            .@{ui}-btn {
                margin-right: 0;
            }
        }
    }

    &-message-info {
        .@{modal-pre}-header {
            .@{ui}-icon {
                color: @color-info;
            }
        }
    }

    &-message-success {
        .@{modal-pre}-header {
            .@{ui}-icon {
                color: @color-success;
            }
        }
    }

    &-message-warning {
        .@{modal-pre}-header {
            .@{ui}-icon {
                color: @color-warning;
            }
        }
    }

    &-message-error {
        .@{modal-pre}-header {
            .@{ui}-icon {
                color: @color-error;
            }
        }
    }
}
