@import "../../core/less/import.less";
@import "maker.less";

.@{menu-pre} {
    .@{menu-pre}-item {
        .make-item-padding();
        border-bottom: 1px solid transparent;

        .@{menu-pre}-content {
            display: block;

            .@{ui}-icon {
                vertical-align: middle;
                margin-right: 4px;
            }
        }
    }

    .@{menu-pre}-item-active {
        .@{menu-pre}-content {
            color: @color-primary;
        }
    }

    .@{menu-pre}-content {
        display: inline-block;
        .middle-vertical(48px);
    }

    .@{menu-pre}-sub {
        display: none;

        .@{menu-pre}-item {
            border: none;
        }
    }

    &-open .@{menu-pre}-sub {
        display: block;
    }

    &-horizontal {
        .ut-clearfix;
        border-bottom: 1px solid @color-border-deep;

        .@{menu-pre}-item {
            padding: 0 @menu-gap;
            border-width: 2px;
            float: left;
        }

        .@{menu-pre}-item-active {
            border-color: @color-primary;
        }
    }

    &-vertical {
        width: 240px;
        padding: 0 @menu-gap;
        border-right: 1px solid @color-border-deep;
    }
}
